html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $text;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  padding: 10px;
  background: #fff;
  border: 1px solid;
}

button:active,
button:focus {
  position: гelative;
}

/* стили только для IE9 */
@media screen and (min-width: 0\0) {
  button:active,
  button:focus {
    top: -1px;
    left: -1px;
  }
}

/* стили только для IE10 и IE11 */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  button:active,
  button:focus {
    top: -1px;
    left: -1px;
  }
}
body {
  font-weight: 400;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: $text;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}
.page-content {
  background-color: $grey;
}
.footer {
  flex: 0 0 auto;
}

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 720px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.title {
  text-align: center;
  color: $blue;
  @include f700;
  font-size: 36px;
  line-height: 60px;
  margin-bottom: 30px;
}

.rate-star {
  display: inline-block;
  margin-right: 13px;
}

.breadcrumbs {
  &__inner {
    padding: 45px 0px 45px;
  }
  &__list {
    li {
      display: inline-block;
      position: relative;
      & + li {
        padding-left: 24px;
        &::before {
          content: "-";
          position: absolute;
          color: $green;
          left: 8px;
        }
        a {
          color: #b0bec5;
        }
        &:last-child {
          a,
          span {
            color: $blue;
          }
        }
      }
    }
  }
}
