@import "vars";
@import "global";
@import "fonts";

// start header
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;
  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
  margin-right: 7px;
}

.header__btn-register {
  background-color: $red;
}

.header__menu {
  background-color: $blue;
}

.menu {
  display: flex;
  height: 60px;
  align-items: center;
}

.menu__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 30px;
    }
  }
  a {
    color: white;
    font-size: 14px;
  }
}

// end header
// start search
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 530px;
  &.page-search {
    min-height: 230px;
    .search__inner {
      padding: 55px 0 70px;
      &-text {
        margin-bottom: 20px;
      }
    }
  }
}

.search__inner {
  padding: 155px 0px 100px;
  color: #ffffff;
  text-align: center;
  &-title {
    margin-bottom: 10px;
    font-size: 48px;
    @include f700;
    line-height: 72px;
  }
  &-text {
    margin-bottom: 55px;
    font-size: 20px;
    @include f500;
    line-height: 30px;
  }
  &-form {
    position: relative;
    max-width: 670px;
    margin: 0px auto;
    input {
      display: block;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      height: 56px;
      border: none;
      font-size: 14px;
      padding-left: 25px;
      padding-right: 60px;
      // &:focus{
      //   border: 1px solid $green;
      // }
      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }
    button {
      position: absolute;
      background-color: transparent;
      border: none;
      right: 20px;
      top: 8px;
    }
  }
}
// end search
// start products
.products {
  background-color: $grey;
  padding: 110px 0;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;
  button {
    padding: 12px 21px;
    border: none;
    background-color: white;
    font-size: 14px;
    color: $blue;
    cursor: pointer;
    & + button {
      margin-left: 5px;
    }
    &.mixitup-control-active {
      background-color: $red;
      color: white;
    }
  }
}
.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.products__item {
  max-width: 440px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  background-color: white;
  margin-bottom: 30px;
  &-img {
    min-height: 250px;
    background-repeat: no-repeat;
    display: block;
    background-position: center;
    background-size: cover;
  }
  &-content {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    @include f700;
    border-bottom: 1px solid #e7ecf2;
  }
  &-name {
    max-width: 310px;
  }
  &-title {
    color: $blue;
    font-size: 18px;
    display: block;
  }
  &-category {
    display: block;
    font-size: 14px;
    color: $green;
    @include f500;
    // margin-top: 8px;
  }
  &-price {
    color: $blue;
    font-size: 20px;
    @include f700;
  }
  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }
  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;
    .avatar {
      min-width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 14px;
      display: inline-block;
    }
    span {
      font-size: 14px;
      @include f500;
    }
    &-star {
      span {
        color: $blue;
      }
    }
  }
}
.products__bottom-btn {
  text-align: center;
  button {
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    margin: 45px 5px 0;
    border: none;
    background-color: white;
    color: $blue;
    padding: 20px 30px;
    cursor: pointer;
    &.mixitup-control-active {
      background-color: $red;
      color: white;
    }
  }
}
// end products
// start product-slider
.product-slider {
  padding: 115px 0px 120px;
  .slick-dots {
    text-align: center;
    margin-top: 50px;
    li {
      display: inline-block;
      margin-right: 3px;
      margin-left: 4px;
      &.slick-active {
        button {
          background-color: $green;
        }
      }
      button {
        border-radius: 50%;
        background-color: rgb(232, 232, 232);
        border: none;
        font-size: 0;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none;
      }
    }
  }
}

// end product-slider
//start advantages
.advantages {
  background-color: $blue;
  padding: 110px 0;
}
.advantages__title {
  color: white;
}
.advantages__inner {
  display: flex;
  justify-content: space-between;
}

.advantages__item {
  max-width: 370px;
  text-align: center;
  padding: 0px 15px;

  &:hover {
    .advantages__item-img {
      background-color: $green;
    }
    .advantages__item-title {
      color: $green;
    }
    .advantages__item-img {
      g {
        fill: white;
      }
    }
  }
  g {
    transition: all 0.5s;
  }
  &-img {
    width: 114px;
    height: 114px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto 30px;
    transition: all 0.5s;
    padding-top: 7px;
  }
  &-title {
    margin-bottom: 25px;
    color: white;
    @include f500;
    font-size: 24px;
    transition: all 0.5s;
  }
  &-text {
    font-size: 15px;
    color: $bg;
  }
}
.iconsvg-1 {
  svg {
    width: 50px;
  }
}
.iconsvg-2 {
  svg {
    width: 70px;
  }
}
.iconsvg-3 {
  svg {
    width: 86px;
  }
}
//end advantages
//start author
.author {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $green;
  }
  &__title {
    font-size: 30px;
    line-height: 30px;
    color: white;
    margin-right: 45px;
    max-width: 270px;
    span {
      @include f700;
    }
  }
  &__link {
    font-size: 18px;
    line-height: 36px;
    padding: 14px 40px;
    background-color: white;
  }
}

//end author
//start tutorial
.tutorial {
  padding: 70px 0px 12px;
  background-color: white;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    max-width: 370px;
    width: 100%;
  }
}
.tutorial__item {
  margin-right: 30px;
  &-img {
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  &-title {
    background-color: #f8f8f8;
    font-size: 24px;
    text-align: center;
    @include f700;
    padding: 30px 10px;
    color: $blue;
  }
}
.CSS {
  margin-right: 0;
}

// end tutorial

//start footer
.footer {
  background-color: $blue;
  &__inner {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px 80px;
  }
}
.footer__copy {
  border-top: solid 1px #424d53;
}
.footer__copy-text {
  text-align: center;
  font-size: 15px;
  color: #919699;
  padding: 25px 0;
}
.footer__col {
  max-width: 270px;
  width: 100%;
  &-menu {
    max-width: 220px;
  }
  &-title {
    color: white;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    padding-bottom: 30px;
    margin-bottom: 30px;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 2px;
      height: 3px;
      width: 51px;
      background-color: $green;
    }
  }
  &-text {
    color: #b7c3c8;
    margin-bottom: 30px;
  }
}
.footer__info {
  margin-top: 18px;
  color: white;
  @include f500;
  padding-left: 18px;
  position: relative;
  &::before {
    content: "\f041";
    font-family: "icomoon";
    color: $green;
    position: absolute;
    left: 0;
  }
}
.footer__info-phone {
  &::before {
    content: "\f095";
  }
}
.footer__col-list {
  a {
    margin-bottom: 15px;
    color: #b7c3c8;
    padding-left: 22px;
    position: relative;
    &::before {
      position: absolute;
      font-family: "icomoon";
      font-size: 18px;
      color: $green;
      content: "\f105";
      left: 0;
    }
  }
}
.footer__social-link {
  margin-bottom: 33px;
  li {
    display: inline-block;
    & + li {
      margin-left: 7px;
    }
  }
  a {
    width: 28px;
    height: 28px;
    background-image: url(../img/css_sprites.png);
  }
}
.link-twitter {
  background-position: -28px 0;
}
.link-youtube {
  background-position: 0px -28px;
}
.link-pinterest {
  background-position: -28px -28px;
}
.link-linledin {
  background-position: -140px -56px;
}
.footer__form-title {
  color: white;
  font-size: 20px;
  margin-bottom: 15px;
}
.footer__form {
  position: relative;
  input {
    border: none;
    background-color: #2f3c43;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: white;
    padding-left: 13px;
    padding-right: 50px;
    &::placeholder {
      color: #697378;
    }
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $green;
    height: 40px;
    width: 43px;
    border: none;
    cursor: pointer;
    &::after {
      content: "\f124";
      font-family: "icomoon";
      color: white;
      font-size: 20px;
    }
  }
}
//end footer

//start product-page
.product-page__inner {
  display: flex;
  padding-bottom: 110px;
}
.product-page__aside {
  margin-right: 30px;
}
.aside__item {
  background-color: white;
  border: solid 1px #dedede;
  padding: 0 32px 32px 32px;
  margin-bottom: 30px;
  width: 270px;
}
.aside__title {
  border-bottom: 1px solid #dde3e8;
  font-size: 20px;
  color: $blue;
  padding: 22px 0px 19px;
  @include f700;
}
.category__list {
  padding-top: 10px;
  li {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 20px;
    &::before {
      position: absolute;
      font-family: "icomoon";
      font-size: 18px;
      color: $green;
      content: "\f105";
      left: 0;
    }
  }
  a {
    color: $blue;
  }
  span {
    color: #90a4ae;
  }
}
.irs-max,
.irs-min {
  display: none;
}
.price-range {
  form {
    padding-top: 20px;
    padding-bottom: 25px;
  }
  button {
    margin-top: 25px;
  }
}
.irs--flat .irs-line {
  background-color: #f2f5f8;
  height: 5px;
}
.irs--flat .irs-bar {
  height: 5px;
  background-color: #37474f;
}
.irs--flat .irs-handle {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 4px solid $green;
  border-radius: 50%;
  top: 20px;
}
.irs--flat .irs-handle > i:first-child {
  display: none;
}
.irs-from,
.irs-to,
.irs-single {
  top: 45px;
}
.irs--flat .irs-from::before,
.irs--flat .irs-to::before,
.irs--flat .irs-single::before {
  display: none;
}
.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-singleP {
  color: #78909c;
  font-size: 15px;
  line-height: 1.333;
  padding: 0;
  background-color: transparent;
  text-shadow: none;
}
.price-range {
  form {
    padding-top: 20px;
  }
  button {
    margin-top: 55px;
    padding: 16px 10px;
    background-color: $green;
    text-align: center;
    @include f500;
    width: 100%;
    display: block;
    border: none;
    cursor: pointer;
    position: relative;
    &::before {
      position: absolute;
      font-family: "icomoon";
      font-size: 15px;
      color: white;
      content: "\f002";
      left: 58px;
      top: 15px;
    }
  }
}
.product-page__aside {
  .products__item-img {
    min-height: 120px;
  }
  .products__item {
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: solid 1px #dde3e8;
  }
  .products__item-content {
    padding: 0;
    min-height: 75px;
    border-bottom: none;
  }
  .products__item-info {
    padding: 0;
    min-height: 0;
  }
  .products__item-price {
    font-size: 16px;
  }
  .products__item-title {
    font-size: 16px;
  }
  .products__item-starnum {
    display: none;
  }
  .rate-star {
    margin-right: 0;
  }
  .jq-ry-container {
    padding: 0;
  }
}
.aside__product-item {
  .products__item:last-child {
    border: none;
    padding-bottom: 0;
  }
  .products__item:first-child {
    margin-top: 25px;
  }
}
.top-sellers__link {
  padding: 16px 10px;
  display: block;
  background-color: $green;
  color: #ffffff;
  @include f500;
  text-align: center;
}
.product-page__filter {
  background-color: white;
  border: solid 1px #dedede;
  padding: 0px 20px;
  margin-bottom: 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: #90a4ae;
    &.active {
      color: $green;
    }
  }
}
button.icon-sort-amount-desc {
  font-size: 14px;
  color: #455a64;
}
button.icon-sort {
  font-size: 18px;
  color: #707070;
}

.product-page__content {
  width: 100%;
  .products__item {
    max-width: 270px;
    transition: all 0.5s;
  }
  .products__item-img {
    min-height: 180px;
  }
  .products__item-content {
    padding: 10px 20px;
  }
  .products__item-title {
    font-size: 16px;
  }
  .products__item-info {
    min-height: 65px;
    padding: 10px 20px;
  }
  .rate-star {
    margin-right: 5px;
  }
  .jq-ry-container {
    padding: 0;
  }
}
.product-page__filter-sort {
  color: #707070;
  font-size: 14px;
  align-items: center;
  display: flex;
}
.product-page__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
}
.pagination__list {
  li {
    display: inline-block;
    & + li {
      margin-left: 6px;
    }
  }
  a,
  span {
    box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
    width: 43px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    font-size: 16px;
    color: $blue;
    @include f500;
    &.active {
      color: #ffffff;
      background-color: $red;
    }
  }
}
.product__item-text {
  display: none;
}
.products__item-price {
  span {
    display: none;
  }
}
.products__item-list {
  display: none;
}
.products__item-list {
  display: block;
  .icon-comment-o,
  .icon-heart-o {
    padding-left: 50px;
    display: inline-block;
    font-size: 12px;
    color: #b0bec5;
    border-left: 1px solid #aeb4bb;
    position: relative;
    span {
      color: $blue;
      @include f500;
    }
    &::before {
      font-size: 16px;
      color: $green;
      position: absolute;
      left: 20px;
      top: 0;
    }
  }
  .icon-comment-o {
    padding-right: 30px;
    &::before {
      top: -2px;
    }
  }
}
.products__item {
  &.list {
    max-width: 100%;
    .products__item-img {
      float: left;
      width: 240px;
      min-height: 100%;
    }
    .product__item-text {
      display: block;
      font-size: 14px;
      color: #70838d;
      margin-top: 15px;
      margin-bottom: 5px;
    }
    .products__item-price {
      font-size: 30px;
      span {
        margin-top: 30px;
        display: block;
        color: #aeb4bb;
        font-size: 13px;
      }
    }
    .products__item-name {
      max-width: 480px;
    }
    .products__item-content {
      padding-top: 23px;
    }

    .products__item-star {
      margin-left: auto;
      margin-right: 30px;
    }
  }
}

//end product-page
